@use "../partials/colors" as *;
@use "../partials/sizing" as *;

.contact {
  .buttons {
    height: 100%;
    max-width: fit-content;
    width: -moz-max-content;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    button {
      text-align: center;
      width: 30vh;
      &::before {
        display: none;
      }
    }
  }
  @media (min-width: 600px) {
    .buttons {
      height: 40vh;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      transform: skew($skew-deg);

      button {
        transform: skew(-$skew-deg);
        text-align: left;
        width: 100%;
        left: auto;
        right: 0;

        @for $i from 1 through 5 {
          // clientHeight custom property is added in the Button component
          &:nth-child(#{$i}) {
            width: calc(100% + calc($i * 10vw));
          }
        }

        &::before {
          display: block;
        }
      }
    }
  }
}
