// universal
$black: hsl(0, 0%, 12%);
$white: hsl(0, 0%, 93%);
$trans-black: hsla(0, 0%, 12%, 0.6);
$trans-white: hsla(0, 0%, 93%, 0.3);
// dark
$steel: hsl(186, 18%, 42%);
$maize: hsl(47, 73%, 58%);
$timberwolf: hsl(38, 8%, 81%);
$onyx: hsl(203, 7%, 24%);
// light
$lavender: hsl(327, 31%, 93%);
$laurel: hsl(99, 22%, 75%);
$russian-green: hsl(130, 17%, 53%);
$space-sparkle: hsl(197, 16%, 33%);
$raisin-black: hsl(280, 3%, 18%);
// bright
$electric-purple: hsl(286, 100%, 49%);
$razzmatazz: hsl(335, 93%, 48%);
$scarlet: hsl(11, 100%, 49%);
$cadmium-orange: hsl(30, 87%, 49%);
$selective-yellow: hsl(44, 100%, 52%);
$gray: hsl(210, 11%, 71%);
