@use "../partials/sizing" as *;
@use "../partials/colors" as *;
@use "../partials/animations" as *;

.header {
  position: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  inset: 0;
  height: calc($header-h + 5rem);
  width: 100%;
  z-index: 20;
  background-color: $onyx;

  h1 {
    position: relative;
    height: $header-h;
    line-height: calc($header-h / 2);
    width: 50vw;
    justify-self: start;
    font-size: 1.5rem;
    background-color: $steel;
    padding-left: 2rem;

    &::before {
      content: "";
      background-color: inherit;
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transform: skew($skew-deg, 0);
      transform-origin: bottom left;
    }
  }

  nav {
    position: relative;
    grid-column: span 2;
    border-top: 1px solid $onyx;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    width: 100%;

    .link {
      text-decoration: none;
      color: $black;
      font-size: 0.75rem;
      transform: skew($skew-deg);
      height: 2.5rem;
      width: auto;
      padding: 0 1rem;
      background-color: $steel;
      border: 2px solid $onyx;
      cursor: pointer;

      &.active {
        color: $maize !important;
      }

      &:hover {
        background-color: $onyx;
        color: lighten($steel, 10%);
      }

      .textContainer {
        transform: skew(-$skew-deg);
        line-height: calc($header-h/2);
        text-align: center;
      }
    }

    hr {
      width: 100%;
      border: none;
    }
  }

  @media (min-width: 300px) {
    .link {
      font-size: 1rem !important;
    }
  }

  @media (min-width: 600px) {
    height: $header-h;
    grid-template-columns: 8fr 1fr;

    h1 {
      height: calc($header-h/2);
      font-size: 2rem;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 0 1rem;

      .link {
        height: auto;
        width: auto;
        font-weight: 600;
      }

      hr {
        display: none;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 2px 0;
        background-color: $steel;
        width: 3rem;
        height: auto;
        z-index: -1;
      }

      &::after {
        inset: 2px calc(100% - 3rem);
      }
    }
  }
}

.header[data-location="/"] {
  max-height: $header-h;

  nav {
    opacity: 0;
    pointer-events: none;
  }

  @media (min-width: 600px) {
    max-height: calc($header-h/2);
  }
}

.header[data-theme="light"] {
  background-color: $space-sparkle;

  h1,
  .link {
    color: $space-sparkle;
    background-color: $laurel;
    border-color: $space-sparkle;

    &.active {
      color: $lavender !important;
    }

    &:hover {
      background-color: $space-sparkle;
      color: $laurel;
      border-color: $laurel;
    }
  }

  nav {
    &::before,
    &::after {
      background-color: $laurel;
    }
  }
}

.header[data-theme="bright"] {
  background-color: $electric-purple;

  h1,
  .link {
    color: $white;
    background-color: $cadmium-orange;
    border-color: $electric-purple;

    &:hover {
      background-color: $electric-purple;
      border-color: $cadmium-orange;
    }
  }
  .active {
    color: darken($razzmatazz, 10%) !important;
  }

  nav {
    &::before,
    &::after {
      background-color: $cadmium-orange;
    }
  }
}
